.page {
  padding: $contentPadding;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(100, 100, 100, 0.67);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  .text {
    color: white;
    font-size: 32px;
    letter-spacing: 1px;
    margin-bottom: 25%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.27);
  }
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  textarea {
    padding: 15px 10px;
    border: 1px solid #949494;
    min-height: 140px;
    border-radius: 0px;
    box-shadow: none;
    -webkit-appearance: none;
    &:focus {
      border: 1px solid #191919;
      outline: none;
    }
  }
  .button {
    margin-top: 20px;
  }

}
@media (max-width: 900px) {
  .form {
    width: 100%;
  }
}

@media (max-width: 830px) {
  .page {
    padding: 20px;
    padding-bottom: 80px;
  }
  .button button {
    width: 100%;
  }
  .text {
    font-size: 28px;
  }
  .form textarea {
    font-size: 16px;
  }
}
