.footer {
  padding-left: $contentPadding;
}
.postMeta {
  font-size: 14px;
}
.comments {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
.tags {
  a {
    color: #0679b2;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-weight: 500;
    &:hover {
      color: $primary;
      border-bottom: 1px solid rgba(0, 0, 0, .5);
    }
  }
}
@media (max-width: 768px) {
  .footer {
    padding-left: 20px;
  }
  .comments {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
