
.postLink {
  padding-left: $contentPadding;
  display: block;
  position: relative;
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #e2e2e2;
  overflow-x: hidden;

  a {
    text-decoration: none;
  }
}
.postLink:first-of-type {
  border-top: none;
}
.title {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  cursor: pointer;
}
